<div
    id="initialPageLoadingScreen"
    class="LoadingScreen"
>
    <div
        class="LoadingScreen__background"
        aria-hidden="true"
    ></div>
    <div
        id="initialPageLoadingAnimation"
        class="LoadingAnimation LoadingAnimation--spinning LoadingAnimation--loading"
        role="status"
        aria-label="Loading Lexocrates Connect"
    >
        <img
            class="LoadingAnimation__logo"
            src="../../images/lexocrates-logo.png"
            alt=""
        />
        <div
            class="LoadingAnimation__indicator"
            aria-hidden="true"
        >
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
